# 01-ðŸ’ŒNLP Sentiment Analysis Dating Apps Beoordelingen | 2017-2023 ðŸ’Œ

# Inleiding

Het hoofddoel van dit project is het analyseren van beoordelingen van dating-apps uit de Google Play Store in verschillende landen (India en de VS), beide grote markten met een breed netwerk van gebruikers van dating-apps. Door deze datasets samen te voegen, zal ik een NLP-sentimentanalyse uitvoeren om de verschillende gedragingen en algemene gevoelens van gebruikers op verschillende datingplatforms te onderzoeken.

De analyse richt zich op het beantwoorden van drie hoofdvragen:

- Wat zijn de gebruikelijke gedragingen en gevoelens die mensen hebben bij het gebruik van verschillende dating-apps (Tinder, Bumble, Hinge)?
- Welke dating-app is het meest geschikt voor daten, relaties of beste functionaliteiten?
- Wat is het algemene gevoel van gebruikers (in algemeen) over het gebruik van dating-apps?

Aan het einde van deze notebook zal een samenvatting staan van de inzichten uit de sentimentanalyse. De verschillende datasets die ik voor deze analyse heb gebruikt, zijn:

- Dating Apps Reviews India 2017-2022 (dating_review): https://www.kaggle.com/datasets/sidharthkriplani/datingappreviews/data
- Dating Apps Reviews US 2023 (dating_review2): https://figshare.com/articles/dataset/Text_of_user_reviews_of_dating_apps/21895827

01- ðŸ’ŒNLP Sentiment Analysis Dating Apps Beoordelingen | 2017-2023 ðŸ’Œ -> Zal de merging, cleaning, EDA van alle datasets

02- ðŸ’ŒNLP Sentiment Analysis Dating Apps Beoordelingen | 2017-2023 ðŸ’Œ -> ML en sentimentanalyse

# ðŸ“¦Packages laden

In dit eerste deel van de notebook laden we de benodigde libraries voor het schoonmaken van data (cleaning), het uitvoeren van data-analyse (EDA), en het combineren (mergen) van datasets. In het tweede deel zullen we dieper ingaan op data-analyse en sentimentanalyse om voorspellingen te doen. Voor dit deel gebruiken we alleen de basisbibliotheken:

In [2]:
import pandas as pd
import numpy as np
import string
from faker import Faker

# Waarom gebruiken we Faker?

In dit eerste deel gaan we nepdata genereren, zoals namen, tijdstippen en datums. Dit is handig om de tweede dataset compleet te maken en het proces van het samenvoegen (merging) eenvoudiger en efficiÃ«nter te maken, zodat je kunt testen zonder echte gegevens te gebruiken.

# ðŸ”‹Datasets Laden

In dit gedeelte laden we de datasets en leggen we de stappen vast die nodig zijn om tot een complete en opgeschoonde dataset te komen. Het proces verloopt als volgt:

Stap 1: Eerste dataset laden

- We beginnen met het laden van de eerste dataset. Deze dataset wordt geanalyseerd (EDA) en opgeschoond (cleaning) om inzicht te krijgen in de data en eventuele problemen op te lossen. De eerste dataset bevat gebruikersbeoordelingen van verschillende dating-apps uit de periode 2017-2023 uit India.

Stap 2: Tweede dataset laden

- Daarna creÃ«ren we een tweede dataset door drie afzonderlijke datasets samen te voegen. Deze samengevoegde dataset wordt opgeschoond en geanalyseerd (EDA).

- Vervolgens voegen we synthetische data toe aan de tweede dataset en voeren we nog een keer een opschoning en EDA uit om de consistentie te waarborgen. De (nieuwe)tweede dataset zou gebruikersbeoordelingen van verschillende dating-apps uit de periode 2023 uit VS bevaten.


Stap 3: Samenvoegen (mergen) van datasets

- Na de voorbereiding van beide datasets (eerste en nieuwe tweede dataset), combineren we ze tot Ã©Ã©n definitieve dataset.

- Tot slot wordt de gecombineerde dataset verder opgeschoond en geanalyseerd (laatste EDA), zodat deze klaar is voor verdere verwerking, zoals modellering of voorspellingen.

# ðŸªœStap 1: Eerste dataset laden

We gaan de eerste dataset laden en daarna beginnen we met het analyseren (EDA) en het opschonen (cleaning) om inzichten te verkrijgen uit deze dataset.

In [3]:
# Eerste Dataset 'dating app reviews India 2017-2023' laden 
dating_review= pd.read_csv("C:\\Users\\kaile\\OneDrive\\Documents\\S4\\notebooks\\DatingAppReviewsDataset.csv\\DatingAppReviewsDataset.csv",index_col=0)
dating_review

,Name,Review,Rating,#ThumbsUp,Date&Time,App
0,linah sibanda,On this app i cant find a partner,5,0,18-02-2022 01:19,Tinder
1,Norman Johnson,Tinder would be so much better if we could spe...,3,0,18-02-2022 01:16,Tinder
2,David Hume,Still doesn't correctly notify matches or mess...,1,0,18-02-2022 01:11,Tinder
3,Last 1 Standing,"Got banned because I updated my bio to say ""I ...",2,0,18-02-2022 01:11,Tinder
4,Arthur Magamedov,Love it!,5,0,18-02-2022 01:06,Tinder
...,...,...,...,...,...,...
52989,A Google user,Useless - I'm in the UK and it tells me i'm ov...,2,5,12-07-2017 01:44,Hinge
52990,Brian Shook,I can't get past the initial set up. It won't...,1,11,12-07-2017 01:36,Hinge
52991,A Google user,This is incredible! A quality dating app for A...,5,1,12-07-2017 01:32,Hinge
52992,A Google user,"""Over Water"" ... Can't choose location.",2,8,12-07-2017 01:28,Hinge
52993,Dylan Fick,"My entire town counts as ""over water"" and I ca...",2,15,12-07-2017 01:24,Hinge

# EDA (Exploratory Data Analysis)

EDA helpt ons om deze dataset beter te begrijpen door inzicht te krijgen in de structuur, datakwaliteit en mogelijke trends. We analyseren kolommen zoals Rating, #ThumbsUp, en Date&Time om gebruikerspatronen en tevredenheid te ontdekken. Daarnaast controleren we op ontbrekende waarden en bereiden we de data voor op verdere analyse.

In [4]:
# Dataset laden 10 eerste rijen
dating_review.head()

,Name,Review,Rating,#ThumbsUp,Date&Time,App
0,linah sibanda,On this app i cant find a partner,5,0,18-02-2022 01:19,Tinder
1,Norman Johnson,Tinder would be so much better if we could spe...,3,0,18-02-2022 01:16,Tinder
2,David Hume,Still doesn't correctly notify matches or mess...,1,0,18-02-2022 01:11,Tinder
3,Last 1 Standing,"Got banned because I updated my bio to say ""I ...",2,0,18-02-2022 01:11,Tinder
4,Arthur Magamedov,Love it!,5,0,18-02-2022 01:06,Tinder

In [5]:
#Alle informatie over de datatypes en de shape van dataset
dating_review.info()
print("shape of the dataset -->>",np.shape(dating_review))

<class 'pandas.core.frame.DataFrame'>
Index: 681994 entries, 0 to 52993
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Name       681987 non-null  object
 1   Review     680609 non-null  object
 2   Rating     681994 non-null  int64
 3   #ThumbsUp  681994 non-null  int64
 4   Date&Time  681994 non-null  object
 5   App        681994 non-null  object
dtypes: int64(2), object(4)
memory usage: 36.4+ MB
shape of the dataset -->> (681994, 6)

Opmerkingen van de dataset informatie: 

- De dtypes zijn de verkeerde dus we zullen op de correcte manier converteren
- Het opsplitsen van Date&Time maakt het makkelijker om te analyseren of beoordelingen verbeteren over tijd, met specifieke datums en tijdstippen apart.

We gaan eerst de datatypes wijzigen naar de correcte types:

- Converteer Rating en #ThumbsUp naar gehele getallen.
- Converteer Date&Time naar een datetime-object.
- Zorg ervoor dat Review en App strings zijn.

Daarna gaan we de Date & Time aan elkaar scheiding: 
- We gaan de kolom Date&Time in twee aparte kolommen opsplitsen : Ã©Ã©n voor de datum en Ã©Ã©n voor de tijd. Daarna verwijderen we de oorspronkelijke kolom Date&Time, omdat deze niet meer nodig is.

In [6]:
#Verandeer de dtypes van object naar int
dating_review['Rating'] = dating_review['Rating'].astype(int)
dating_review['#ThumbsUp'] = dating_review['#ThumbsUp'].astype(int)

In [7]:
#Verandeer de dtypes van object naar string
dating_review['Review'] = dating_review['Review'].astype(str) 
dating_review['App'] = dating_review['App'].astype(str)

In [8]:
#Alle informatie over de datatypes en de shape van dataset
dating_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 681994 entries, 0 to 52993
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Name       681987 non-null  object
 1   Review     681994 non-null  object
 2   Rating     681994 non-null  int32
 3   #ThumbsUp  681994 non-null  int32
 4   Date&Time  681994 non-null  object
 5   App        681994 non-null  object
dtypes: int32(2), object(4)
memory usage: 31.2+ MB

# Date & Time opsplitsen

In [9]:
dating_review["Date"] = pd.to_datetime(dating_review['Date&Time'], dayfirst= True).dt.date

In [10]:
dating_review["Time"] = pd.to_datetime(dating_review['Date&Time'], dayfirst = True).dt.time

In [11]:
dating_review= dating_review.drop("Date&Time",axis=1)

In [12]:
dating_review["Date"] = pd.to_datetime(dating_review["Date"])

In [13]:
dating_review["Time"] = dating_review["Time"].astype(str)

In [14]:
#Alle informatie over de datatypes en de shape van dataset
dating_review.info()

<class 'pandas.core.frame.DataFrame'>
Index: 681994 entries, 0 to 52993
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Name       681987 non-null  object
 1   Review     681994 non-null  object
 2   Rating     681994 non-null  int32
 3   #ThumbsUp  681994 non-null  int32
 4   App        681994 non-null  object
 5   Date       681994 non-null  datetime64[ns]
 6   Time       681994 non-null  object
dtypes: datetime64[ns](1), int32(2), object(4)
memory usage: 36.4+ MB

In [15]:
#Reorder columns in a way that is understanding
new_column_order = ['Name', 'Review', 'Rating', '#ThumbsUp', 'Date', 'Time', 'App']
dating_review = dating_review[new_column_order]

In [16]:
dating_review.head()

,Name,Review,Rating,#ThumbsUp,Date,Time,App
0,linah sibanda,On this app i cant find a partner,5,0,2022-02-18,01:19:00,Tinder
1,Norman Johnson,Tinder would be so much better if we could spe...,3,0,2022-02-18,01:16:00,Tinder
2,David Hume,Still doesn't correctly notify matches or mess...,1,0,2022-02-18,01:11:00,Tinder
3,Last 1 Standing,"Got banned because I updated my bio to say ""I ...",2,0,2022-02-18,01:11:00,Tinder
4,Arthur Magamedov,Love it!,5,0,2022-02-18,01:06:00,Tinder

Na de transformatie en veranderingen van dtypes kunnen we nu verdergaan met de rest van de EDA: het controleren van ontbrekende waarden en het bekijken van de distributie van de dataset.

In [17]:
# Check non-null values for each column
print(dating_review.isnull().sum())

Name         7
Review       0
Rating       0
#ThumbsUp    0
Date         0
Time         0
App          0
dtype: int64

We gaan in de volgende stap de null waarden verwijderen/aanpassen in het opschonen stap (cleaning) van de data

In [18]:
# We gaan alleen de numerieke nummers dtypes van de describe tabel zien. 
dating_review.describe(include=[np.number])

              Rating      #ThumbsUp
count  681994.000000  681994.000000
mean        2.997183       1.873719
std         1.746953      24.448095
min         0.000000       0.000000
25%         1.000000       0.000000
50%         3.000000       0.000000
75%         5.000000       0.000000
max         5.000000    5507.000000

In [19]:
dating_review.tail()

,Name,Review,Rating,#ThumbsUp,Date,Time,App
52989,A Google user,Useless - I'm in the UK and it tells me i'm ov...,2,5,2017-07-12,01:44:00,Hinge
52990,Brian Shook,I can't get past the initial set up. It won't...,1,11,2017-07-12,01:36:00,Hinge
52991,A Google user,This is incredible! A quality dating app for A...,5,1,2017-07-12,01:32:00,Hinge
52992,A Google user,"""Over Water"" ... Can't choose location.",2,8,2017-07-12,01:28:00,Hinge
52993,Dylan Fick,"My entire town counts as ""over water"" and I ca...",2,15,2017-07-12,01:24:00,Hinge

# ðŸ§¼ Data cleaning

In deze stap zullen we de null warden vervangen, duplicates verwijderen en verwijderen van onnodige kolommen

In [20]:
# Check non-null values for each column
print(dating_review.isnull().sum())

Name         7
Review       0
Rating       0
#ThumbsUp    0
Date         0
Time         0
App          0
dtype: int64

In [21]:
# Replace null values in the 'Name' column with 'A Google User'
dating_review['Name'] = dating_review['Name'].fillna('A Google User')

In [22]:
# Verify if null values are replaced
print(dating_review.isnull().sum())

Name         0
Review       0
Rating       0
#ThumbsUp    0
Date         0
Time         0
App          0
dtype: int64

In [23]:
# Controleer op duplicaten
print(dating_review.duplicated().sum())

0

In [24]:
# Onnodige kolommen verwijderen:
dating_review.drop(['Time'], axis=1, inplace=True)

In [25]:
dating_review.head()

,Name,Review,Rating,#ThumbsUp,Date,App
0,linah sibanda,On this app i cant find a partner,5,0,2022-02-18,Tinder
1,Norman Johnson,Tinder would be so much better if we could spe...,3,0,2022-02-18,Tinder
2,David Hume,Still doesn't correctly notify matches or mess...,1,0,2022-02-18,Tinder
3,Last 1 Standing,"Got banned because I updated my bio to say ""I ...",2,0,2022-02-18,Tinder
4,Arthur Magamedov,Love it!,5,0,2022-02-18,Tinder

Na het opschonen process, zullen we de tweede dataset opbouwen om naar beide datasets combineren (mergen).

# ðŸªœStap 2: Tweede Dataset opbouwen

Allereerst combineren we de drie datasets die we gaan gebruiken om Ã©Ã©n samengevoegde dataset te creÃ«ren. Daarna starten we met het opschonen van de gegevens en voeren we een Exploratory Data Analysis (EDA) uit om de dataset geschikt te maken voor verdere analyse

# ðŸ”‹Datasets Laden

In [26]:
# Dataset laden van 'tinder_reviews'
tinder_reviews= pd.read_csv("C:\\Users\\kaile\\OneDrive\\Documents\\S4\\notebooks\\21895827\\tinder.csv", encoding='ISO-8859-1')
tinder_reviews

                                                  content score thumbsUpCount
0       Matches can be misleading. I keep getting matc...     2             0
1       This app is not working. Whenever i got notifi...     1             0
2                                    They want you to pay     1             0
3       BANNED ME FOR NO REASON AND I DIDN'T EVEN GET ...     1             0
4       Used to be good and easy to use... Every time ...     2             0
...                                                   ...   ...           ...
538445                   Best app ever finally on android     5             2
538446  Tinder is extremely buggy on the galaxy S4 act...     1             0
538447                                    Keeps crashing.     1             0
538448  Crashes. Doesn't load. Total failure. Take it ...     1             0
538449              Finally the real Tinder is on Android     5             4

[538450 rows x 3 columns]

In [27]:
# Dataset laden van 'bumble_reviews'
bumble_reviews= pd.read_csv("C:\\Users\\kaile\\OneDrive\\Documents\\S4\\notebooks\\21895827\\bumble.csv", encoding='ISO-8859-1')
bumble_reviews

                                                  content score thumbsUpCount
0       After being a premium user, I'm not able to lo...     1             0
1                                                  superb     1             0
2       Fraudulent App, If you install a basic version...     1             0
3       It's a lot better than Hinge, but it's still n...     3             0
4          good app, thanks dear women, you are beautiful     5             0
...                                                   ...   ...           ...
109865                                      Finally here!     5            54
109866                                           Finally!     5            76
109867  Finally, an app where women have to start the ...     4             2
109868                   At last we have Android version!     5            60
109869                                   Nice and smooth.     5            52

[109870 rows x 3 columns]

In [28]:
# Dataset van 'hinge_reviews'
hinge_reviews= pd.read_csv("C:\\Users\\kaile\\OneDrive\\Documents\\S4\\notebooks\\21895827\\hinge.csv", encoding='ISO-8859-1')
hinge_reviews

                                                 content score thumbsUpCount
0      The chat function doesn't work no matter how m...     1             0
1      Would be great to have the option to just like...     4             0
2      I wrote three matches and no one got my message!!     1             0
3      You guys blocked me for no reason at all... An...     1             0
4      Absolutely useless, hardly anybody on it and t...     1             0
...                                                  ...   ...           ...
54854  Useless - I'm in the UK and it tells me i'm ov...     2             5
54855  I can't get past the initial set up.  It won't...     1            11
54856  This is incredible! A quality dating app for A...     5             1
54857            "Over Water" ... Can't choose location.     2             8
54858  My entire town counts as "over water" and I ca...     2            15

[54859 rows x 3 columns]

# ðŸ«‚Merging Datasets

In deze stap hebben we drie datasets gecombineerd door eerst een nieuwe kolom toe te voegen die de naam van de app aangeeft, zodat de herkomst van de gegevens duidelijk is. Vervolgens hebben we ervoor gezorgd dat de kolomnamen consistent zijn tussen de datasets. Daarna hebben we de datasets samengevoegd tot Ã©Ã©n uniforme dataset en deze weergegeven om te controleren of de samenvoeging correct is uitgevoerd.

In [29]:
# Een nieuwe kolom toevoegen: 'App' in elke dataset
tinder_reviews['App'] = 'Tinder'
bumble_reviews['App'] = 'Bumble'
hinge_reviews['App'] = 'Hinge'

In [30]:
# Kolomnamen op Ã©Ã©n lijn brengen voor consistentie vÃ³Ã³r het samenvoegen
columns_to_keep = ['content', 'score', 'thumbsUpCount', 'App']
tinder_reviews = tinder_reviews[columns_to_keep]
bumble_reviews = bumble_reviews[columns_to_keep]
himge_reviews = hinge_reviews[columns_to_keep]

In [31]:
# Alle datasets samenvoegen tot Ã©Ã©n verenigde review-dataset
all_reviews_combined = pd.concat([tinder_reviews, bumble_reviews, hinge_reviews], ignore_index=True)

In [32]:
# De DataFrame in een tabelweergave tonen
display(all_reviews_combined)

,content,score,thumbsUpCount,App
0,Matches can be misleading. I keep getting matc...,2,0,Tinder
1,This app is not working. Whenever i got notifi...,1,0,Tinder
2,They want you to pay,1,0,Tinder
3,BANNED ME FOR NO REASON AND I DIDN'T EVEN GET ...,1,0,Tinder
4,Used to be good and easy to use... Every time ...,2,0,Tinder
...,...,...,...,...
703174,Useless - I'm in the UK and it tells me i'm ov...,2,5,Hinge
703175,I can't get past the initial set up. It won't...,1,11,Hinge
703176,This is incredible! A quality dating app for A...,5,1,Hinge
703177,"""Over Water"" ... Can't choose location.",2,8,Hinge
703178,"My entire town counts as ""over water"" and I ca...",2,15,Hinge

We kunnen zien dat de dataset succesvol is samengevoegd. Vervolgens gaan we verder met de volgende stap: het uitvoeren van een EDA (Exploratory Data Analysis) en het opschonen van de data voordat we synthetische data creÃ«ren.

# EDA (Exploratory Data Analysis) & Data Cleaning

In [33]:
#Dataset laden 10 eerste rijen 
all_reviews_combined.head()

,content,score,thumbsUpCount,App
0,Matches can be misleading. I keep getting matc...,2,0,Tinder
1,This app is not working. Whenever i got notifi...,1,0,Tinder
2,They want you to pay,1,0,Tinder
3,BANNED ME FOR NO REASON AND I DIDN'T EVEN GET ...,1,0,Tinder
4,Used to be good and easy to use... Every time ...,2,0,Tinder

In [43]:
#Alle informatie over de datatypes en de shape van dataset
all_reviews_combined.info()
print("shape of the dataset -->>",np.shape(all_reviews_combined))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703179 entries, 0 to 703178
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   content        701755 non-null  object
 1   score          703127 non-null  object
 2   thumbsUpCount  702592 non-null  object
 3   App            703179 non-null  object
dtypes: object(4)
memory usage: 21.5+ MB
shape of the dataset -->> (703179, 4)

Opmerkingen van de dataset informatie:

- De dtypes zijn de verkeerde dus we zullen op de correcte manier converteren.

We gaan eerst de datatypes wijzigen naar de correcte types:

- Converteer Rating en #ThumbsUp naar gehele getallen.
- Zorg ervoor dat Review en App strings zijn.

In [47]:
#Verandeer de dtypes van object naar int
all_reviews_combined['score'] = all_reviews_combined['score'].astype(int)
all_reviews_combined['thumbsUpCount'] = all_reviews_combined['thumbsUpCount'].astype(int)

ValueError: invalid literal for int() with base 10: ' mas ainda nÃƒÂ£o entendo o porquÃƒÂª de aparecer alguns homens como opÃƒÂ§ao'

In [64]:
# Convert the 'score' column to numeric, coercing errors to NaN
all_reviews_combined['score_numeric'] = pd.to_numeric(all_reviews_combined['score'], errors='coerce')

# Find rows where 'score_numeric' is NaN (indicating non-numeric values)
non_numeric_scores = all_reviews_combined[all_reviews_combined['score_numeric'].isna()]

# Display the rows with non-numeric values
print(non_numeric_scores)

                                                  content  \
2087    Hard times are here, even for Tinder. First ti...
3518    Just made Tinder today, barely messaged people...
5049    Expensive, money-grab app. Clumsy interface, r...
7231    I had a good experience with this app until I ...
8817    I ran out of likes after 10-15 swipes yesterda...
...                                                   ...
690122  Different than the other sites. People really ...
691234  Go for it, its the best Ã¢Â™?,5,0,6.4.9,2019-06-...
693759  Pretty good, better way of doing things, just ...
696870  i havent met anyone, but the platform is almos...
700560  Better than most, could use tips from meet min...

                                                    score  \
2087     mas ainda nÃƒÂ£o entendo o porquÃƒÂª de aparecer ...
3518                                    gracias con odio"
5049     I was banned after 1 hours because of violati...
7231     your ELO score depletes no matter what you do...
8817                   took some fresh pictures of myself
...                                                   ...
690122   it does not allow me to continue past the que...
691234   but it seems pretty cool and interactive. Hop...
693759   you'll get a great one eventually! ive had 2 ...
696870                so never able to use. seems dodgy."
700560   no spammers or fake profiles. Layout and desi...

                                            thumbsUpCount     App  \
2087       sendo que minha preferencia sÃƒÂ£o so mulheres."  Tinder
3518                                                    1  Tinder
5049                                                    1  Tinder
7231                                                    1  Tinder
8817     swiped until I was out of likes... Went to go...  Tinder
...                                                   ...     ...
690122                  the next button will not unlock."   Hinge
691234                                                  5   Hinge
693759                                                  4   Hinge
696870                                                  1   Hinge
700560                                                  5   Hinge

        score_numeric
2087              NaN
3518              NaN
5049              NaN
7231              NaN
8817              NaN
...               ...
690122            NaN
691234            NaN
693759            NaN
696870            NaN
700560            NaN

[494 rows x 5 columns]

In [48]:
#Verandeer de dtypes van object naar string
all_reviews_combined['content'] = all_reviews_combined['content'].astype(str) 
all_reviews_combined['App'] = all_reviews_combined['App'].astype(str)

In [49]:
all_reviews_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703179 entries, 0 to 703178
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   content        703179 non-null  object
 1   score          703127 non-null  object
 2   thumbsUpCount  702592 non-null  object
 3   App            703179 non-null  object
dtypes: object(4)
memory usage: 21.5+ MB

In [61]:
all_reviews_combined.describe()

       content   score thumbsUpCount     App
count   703179  703127        702592  703179
unique  534902     430          1326       3
top       Good       1             0  Tinder
freq     14309  263702        573219  538450

In [36]:
# Visualize distributions of numeric columns
for column in all_reviews_combined.select_dtypes(include=['float64', 'int64']).columns:
    plt.figure()
    sns.histplot(data[column], kde=True)
    plt.title(f'Distribution of {column}')
    plt.show()

In [37]:
# Check for missing values
missing_values = all_reviews_combined.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 content          1424
score              52
thumbsUpCount     587
App                 0
dtype: int64

# Syntetische Data crÃ«eren

In [38]:
!pip install faker

Requirement already satisfied: faker in c:\users\kaile\anaconda3\lib\site-packages (30.8.2)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\kaile\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in c:\users\kaile\anaconda3\lib\site-packages (from faker) (4.7.1)
Requirement already satisfied: six>=1.5 in c:\users\kaile\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [39]:
# Create a Faker instance
fake = Faker()

# Number of samples in all_reviews_combined
num_samples = len(all_reviews_combined)

# Generate synthetic 'Name' and 'Date&Time' data for the dataset
all_reviews_combined['Name'] = [fake.name() for _ in range(num_samples)]

# Generate synthetic 'Date&Time' data restricted to 2023
all_reviews_combined['Date&Time'] = [
    fake.date_time_between_dates(
        datetime_start=pd.Timestamp('2023-01-01 00:00:00'),
        datetime_end=pd.Timestamp('2023-12-31 23:59:59')
    ).strftime('%d-%m-%Y %H:%M') for _ in range(num_samples)
]

# Display the updated dataset
display(all_reviews_combined)

KeyboardInterrupt:

In [ ]:
# Rename columns in all_reviews_combined to match the first dataset
all_reviews_combined = all_reviews_combined.rename(columns={
    'content': 'Review',
    'score': 'Rating',
    'thumbsUpCount': '#ThumbsUp',
    'Name': 'Name',
    'Date&Time': 'Date&Time',
    'App': 'App'
})

# Reorder the columns to match the first dataset
all_reviews_combined = all_reviews_combined[['Name', 'Review', 'Rating', '#ThumbsUp', 'Date&Time', 'App']]

# Display the updated DataFrame
display(all_reviews_combined)

# EDA & Cleaning Dataset

First of all you have to do cleaning and EDA in both datasets before continuing further: So first pre processing from the data (cleaning + EDA) for this dataset (all_reviews_combined) and then (cleaning + EDA) for the first one(dating_review) and then last EDA for the merged one

In [ ]:
# Display the data types of each column
print(all_reviews_combined.dtypes)

In [ ]:
# Convert 'Rating' and '#ThumbsUp' columns to int64, handling non-numeric values as NaN
all_reviews_combined['Rating'] = pd.to_numeric(all_reviews_combined['Rating'], errors='coerce').astype('Int32')
all_reviews_combined['#ThumbsUp'] = pd.to_numeric(all_reviews_combined['#ThumbsUp'], errors='coerce').astype('Int32')

# Display the data types to confirm the change
print(all_reviews_combined.dtypes)

In [ ]:
all_reviews_combined

In [ ]:
# Save the final merged dataset to a CSV file for review
all_reviews_combined.to_csv("all_reviews_combined.csv", index=False)
print("Merged dataset saved as 'all_reviews_combined.csv'")

# Bronnen

https://medium.com/@robdelacruz/sentiment-analysis-using-natural-language-processing-nlp-3c12b77a73ec
https://www.analyticsvidhya.com/blog/2021/06/nlp-sentiment-analysis/